# SPDX-FileCopyrightText: 2024 KindSpells Labs S.L.
#
# SPDX-License-Identifier: MIT

# coverage
**/coverage/
**/coverage-e2e/
**/coverage-unit/

# vendored dependencies
**/node_modules/

# build & cache artifacts
**/.astro/
**/.sst/
**/dist/
**/generated/

# testing artifacts
**/tests/playground/*.mjs
**/*-test-artifact.*

# moon
.moon/cache
.moon/docker

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store
