---
/*
 * SPDX-FileCopyrightText: 2024 KindSpells Labs S.L.
 *
 * SPDX-License-Identifier: MIT
 */

const myConst = 42
---
<!DOCTYPE html><html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>My Static Test Site</title>
		<style>h1 { color: red; }</style>
	</head>
	<body>
		<script>alert('Hello!');</script>
		<h1>My const is: { myConst }</h1>
	</body>
</html>
